{% extends 'core/base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
</head>
<body>
<nav>
    <ul>
    
    <li>Home</li>
    <li>About</li>
    <li>Django course</li>
</ul>
</nav>
<h2>Home page</h2>
</body>
</html> {% endcomment %}

{% comment %} Inherit base.html  {% endcomment %}



{% comment %} override title block {% endcomment %}

{% block title %} {{block.super}} Home {% endblock title %}

{% block content %} <h2> I am new home page </h2> {% endblock content %}