<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: black;
            color: seashell;
        }
    </style>
    <title>Django</title>
</head>
<body>

<!-- These all are filters , are use in django -->

    <!-- <h2>Name:{{nm}} Duration:{{du}} Seats:{{st}} </h2> -->

    <!-- <h2>{{nm|capfirst}}</h2> -->

    <!-- <h2>{{nm|default:'Nothing'}}</h2> 
    -->
    
    <!-- <h2>{{nm|length}}</h2> -->

    <!-- <h2>{{nm|lower}}</h2> -->

    <!-- <h2>{{nm|upper}}</h2> -->

    <!-- <h2>{{nm|slice:2}}</h2> -->

    <!-- <h2>{{nm|truncatechars:3}}</h2> -->

    <!-- <h2>{{nm|truncatewords:2}}</h2> -->

    <!-- <h3>{{dt|date:'D d M Y'}}</h3>
    <h3>{{dt|time:'H:i'}}</h3>
    <h3>{{dt|time:'SHORT_TIME'}}</h3>
    <h3>{{dt|date:'SHORT_DATE_FORMAT'}}</h3>
    <h3>{{dt|date:'SHORT_DATE'}}</h3> -->

    <!-- <h2>{{p1}}</h2>
    <h2>{{p2}}</h2>
    <h2>{{p3}}</h2>

    <h2>{{p1|floatformat}}</h2>
    <h2>{{p2|floatformat}}</h2>
    <h2>{{p3|floatformat}}</h2> 

    <h2>{{p1|floatformat:3}}</h2>
    <h2>{{p2|floatformat:3}}</h2>
    <h2>{{p3|floatformat:3}}</h2>

    <h2>{{p1|floatformat:0}}</h2>
    <h2>{{p2|floatformat:0}}</h2>
    <h2>{{p3|floatformat:0}}</h2>

    <h2>{{p1|floatformat:-3}}</h2>
    <h2>{{p2|floatformat:-3}}</h2>
    <h2>{{p3|floatformat:-3}}</h2> -->


{% comment %} THESE ARE THE  if tag in django , syntax {% if %} {% endcomment %}

   <!-- 
    {% if nm %}
    <h3>Hello {{nm}}</h3>
    {% endif %} -->

    {% comment %} {% if nm and st %}
    <h3>{{st}} Seat are available for {{nm}} course</h3>
    {% endif %}

    {% if nm or st %}
    <h3>{{st}} Seat are available for {{nm}} course</h3>
    {% endif %}

    {% if  not st %}
    <h3>Seats not available</h3>
    {% endif %}

    {% if 'nm|length>=4' %}
    <h3>Hello {{nm}}</h3>
    {% endif %} {% endcomment %}

    

</body>
</html>