{% extends 'core/base.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django </title>
</head>
<body>
<nav>
    <ul>
    
    <li>Home</li>
    <li>About</li>
    <li>Django course</li>
</ul>
</nav>
<h2>Django course page</h2>
</body>
</html> {% endcomment %}


{% block title %} Django {% endblock title %}

{% load static %}
{% block corecss %}
<link rel="stylesheet" href="{% static 'course/css/course.css' %}">
{% endblock corecss %}

{% block content %} <h2> I am new Django course </h2> {% endblock content %}